{{- define "content"}}
{{- partial "sidebar-toc.html" . }}
<main class="main" role="main">
    <div class="content">
        <article id="{{ .Params.layout }}-{{ .Params.slug }}" class="article article-type-{{ .Params.layout }}" itemscope
          itemtype="http://schema.org/BlogPosting">
          <div class="article-header">
            {{- if or (.Permalink) (.Title)}}
            {{ .Scratch.Set "class_name" "article-title" }}
            {{- partial "post/title.html" . }}
            {{- end }}
          </div>
          <div class="article-entry marked-body js-toc-content" itemprop="articleBody">
            {{ .Content }}
          </div>
          <div class="article-footer">
            {{- partial "post/copyright.html" . }}
          </div>
        </article>
      </div>
      {{- partial "post/nav.html" . }}
      {{- partial "post/donate.html" . }}
</main>
{{- end}}